html {
    box-sizing: border-box;

}

*,
::after,
::before {
    box-sizing: inherit;
}

.body {
    background-color: rgb(212, 212, 212);
    max-width: 1000px;
    margin: auto;
    position: relative;

}

.title {
    text-align: center;
}

.mainPhoto {
    border-radius:50%;
    margin: 5px auto 0px;
}

.buttons {
    margin:0 auto;
}

.h1 {
    color:blue;
    text-align: center;
}
.h2 {
    color:rgb(90, 5, 248);
    text-align: center;
}
.main {
    background-color:#b8b6b6 ;
    color:rgb(12, 12, 12);
    padding-bottom: 10px;
    padding: -5px;
}


.guitar {
    background-color: #b8b6b6;
}

.text {

}

.list {

}
.listItem {
    
}